<div class="formContainer">
  <%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label :food_group_id %><br>
    <%= f.collection_select :food_group_id, FoodGroup.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :with_css_classes => true %>
  </div>
  <div class="field">
    <%= f.label :portion %><br>
    <%= f.text_field :portion, :autofocus => params[:food_group_name].present? %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
