<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Food group</th>
      <!-- <th>User</th> -->
      <th>Date</th>
      <th>Portion</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.food_group.name %></td>
        <!-- <td><%= entry.username ? entry.username : entry.user.email %></td> -->
        <td><%= entry.date %></td>
        <td><%= entry.portion %></td>
        <td><%= entry.description %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
