<div class="row">
  <h1>Diary for <%= @display_date %></h1>
  <div class="col-6">
    <table>
      <thead>
        <tr>
          <th>Food group</th>
          <th>Portion</th>
          <th>Description</th>
          <th class="nav-button">
            <div class="tooltip"><%= @prev_link %></div>
          </th>
          <th class="nav-button">
            <div class="tooltip"><%= @today_link %></div>
          </th>
          <th class="nav-button">
            <div class="tooltip"><%= @next_link %></div>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= entry.food_group.name %></td>
            <td><%= entry.portion %></td>
            <td><%= entry.description %></td>
            <td class="record-edit">
              <%= link_to '<i class="fa fa-eye"></i>'.html_safe, entry %>
            </td>
            <td class="record-edit">
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_entry_path(entry) %>
            </td>
            <td class="record-edit">
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, entry, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <% current_user.daily_progress(@_date).each do |name, values| %>
      <%= render "welcome/big_button", :columns => 6, :title => name, :prompt =>"#{values[:consumed]} of #{values[:target]}", :entry_date => @_date %>
    <% end %>
  </div>
</div>

  <br>

  <%= link_to 'New Entry', new_entry_path %>
