<p id="notice"><%= notice %></p>

<p>
  <strong>Food group:</strong>
  <%= @entry.food_group.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @entry.username %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Portion:</strong>
  <%= @entry.portion %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
