<h1>Recipes</h1>

<div class="row">
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
  <div class="col-7">
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
  </div>
  <div class="col-5">
    <%= submit_tag "Search" %>
  </div>
<% end %>
</div>

<% if !(@recipes.present?) %>
  <p>There are no recipes containing the term(s) <%= params[:search] %>.</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Web page</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr class="recipe">
        <td class="name"><%= highlight(recipe.name, params[:search]) %></td>
        <td class="description"><%= recipe.description %></td>
        <td class="url round-button">
          <% if !recipe.web_page.empty? %>
            <%= link_to('<i class="fa fa-link"></i>'.html_safe, recipe.web_page) %>
          <% end %>
        </td>
        <td class="quantity"><%= recipe.quantity %></td>
        <td class="unit"><%= recipe.unit %></td>
        <td class="round-button">
          <%= link_to '<i class="fa fa-book"></i>'.html_safe, log_recipe_path(recipe) %>
        </td>
        <td class="round-button">
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, recipe %>
        </td>
        <td class="round-button">
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_recipe_path(recipe) %>
        </td>
        <td class="round-button">
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
