<div class="formContainer">
  <% @diary ||= diary %>
  <%= form_for(@diary) do |f| %>
    <% if @diary.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

        <ul>
        <% @diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <% if local_assigns[:journal_date] %>
      <%= f.hidden_field :date, :value => journal_date %>
    <% else %>
      <div class="field">
        <%= f.label :date %><br>
        <%= f.date_select :date %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :narrative %><br>
      <%= f.text_area :narrative %>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="field">
          <%= f.label :sleep_score %><br>
          <%= f.number_field :sleep_score %>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <%= f.label :body_weight %><br>
          <%= f.number_field :body_weight, :step => 'any' %>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <%= f.label :step_count %><br>
          <%= f.number_field :step_count %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
