<p>
  <strong>Start:</strong>
  <%= @diet.start_date %>
</p>

<p>
  <strong>End:</strong>
  <%= @diet.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diet.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @diet.user.email %>
</p>

<p>
  <strong>Allowances:</strong><br />
  <% @diet.intakes.each do |intake| %>
    <strong><%= intake.food_group.name %></strong>
    <%= intake.quantity %>
    <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_diet_path(@diet) %> |
<%= link_to 'Back', diets_path %>
