<!DOCTYPE html>
<html>
<head>
  <title>Beast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
  <h1>Body Beast Food Log</h1>
  </div>

  <div class="row">
    <div class="col-3">
      <ul class="menu">
        <li class=<%= controller_name == 'welcome' ? 'active' : nil%>> <%= link_to_unless_current "Home", root_url %> </li>
        <li class=<%= controller_name == 'entries' ? 'active' : nil%>> <%= link_to_unless_current "Food Log", entries_path %> </li>
        <li class=<%= controller_name == 'food_groups' ? 'active' : nil%>> <%= link_to_unless_current "Manage Food Groups", food_groups_path %> </li>
      </ul>
    </div>
    <div class="col-9">
      <%= yield %>
    </div>
  </div>



</body>
</html>
