<!DOCTYPE html>
<html>
<head>
  <title>Body Beast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery-1.4.2.min", "rails", "https://code.highcharts.com/highcharts.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="row">
      <div class="col-7 col-m-7">
        <h1>Body Beast Food Log</h1>
      </div>
      <div class="col-5 col-m-5 userinfo">
        <% if user_signed_in? %>
          Welcome <strong><%= current_user.full_name %></strong>!
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render 'layouts/menu' %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container">
        <p id="notice"><%= notice %></p>
      </div>

      <%= yield %>
    </div>
  </div>



</body>
</html>
