<!DOCTYPE html>
<html>
<head>
  <title>Beast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="row">
      <div class="col-9">
        <h1>Body Beast Food Log</h1>
      </div>
      <div class="col-3 userinfo">
        <% if user_signed_in? %>
          Welcome <strong><%= current_user.email %></strong>!
        <% else %>
        <%= link_to "Login", new_user_session_path  %>
          <%= link_to "Sign up", new_user_registration_path  %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <p id="notice"><%= notice %></p>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-3">
      <ul class="menu">
        <% if user_signed_in? %>
          <li class=<%= controller_name == 'welcome' ? 'active' : nil%>> <%= link_to_unless_current "Home", root_url %> </li>
          <li class=<%= controller_name == 'entries' ? 'active' : nil%>> <%= link_to_unless_current "Food Log", entries_path %> </li>
          <li class=<%= controller_name == 'food_groups' ? 'active' : nil%>> <%= link_to_unless_current "Manage Food Groups", food_groups_path %> </li>

          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-9">
      <%= yield %>
    </div>
  </div>



</body>
</html>
