<!DOCTYPE html>
<html>
<head>
  <title>Body Beast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="row">
      <div class="col-7 col-m-7">
        <h1>Body Beast Food Log</h1>
      </div>
      <div class="col-5 col-m-5 userinfo">
        <% if user_signed_in? %>
          Welcome <strong><%= current_user.email %></strong>!
        <% else %>
        <%= link_to "Login", new_user_session_path  %>
          <%= link_to "Sign up", new_user_registration_path  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 menu-container">
      <label for="show-menu" class="show-menu">Toggle Menu</label>
      <input type="checkbox" id="show-menu" role="button">
      <ul class="menu">
        <% if user_signed_in? %>
          <li> <%= link_to "Home", root_url %> </li>
          <li>
            <a href="#">Food &#65516;</a>
            <ul class="hidden">
              <li> <%= link_to "Log Food", new_entry_path %> </li>
              <li> <%= link_to "Food Diary", entries_path %> </li>
              <li> <%= link_to "Food Groups", food_groups_path %> </li>
            </ul>
          </li>
          <li>
            <a href="#">User &#65516;</a>
            <ul class="hidden">
              <li><%= link_to 'Change Password', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path  %></li>
          <li><%= link_to "Login", new_user_session_path  %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container">
        <p id="notice"><%= notice %></p>
      </div>

      <%= yield %>
    </div>
  </div>



</body>
</html>
